.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #243A62; /* Ensure background color is applied */
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body.dark-mode {
  background-color: #2A5465;
  color: #f0f0f0;
}

body.dark-mode .grid-overlay {
  opacity: 0.2;
  background-image: linear-gradient(#2973B2 1px, transparent 1px),
    linear-gradient(90deg, #2973B2 1px, transparent 1px);
}

body.dark-mode .main-content {
  background-color: #2A5465;
}

body.dark-mode .App {
  background-color: #2A5465;
}
